<h1>Listing courses</h1>

<% if @courses.present? %>

<ul class="list">	
	<% @courses.each do |course| %>	
    		<%= content_tag_for :li, course, :class => cycle(:odd, :even) do %>
      		<%= link_to course.title.titleize, [course] %>

			<div class="right">
				<%= link_to 'Edit' , edit_course_path(course) %>
				<%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %>
			</div>
	<% end %>
<% end %>
</ul>
<% else %>
<p><%=t :empty, :collection => "courses" %></p>
<% end %>

<hr class="thick" />
<div class="bar">	
	<div class="right">
		<%= link_to 'New Course', new_course_path %>
	</div>
</div>